#heading {
  text-align: center;
}

#info {
  padding: 5px;
  display: flex;
  flex-direction: column;
  border: 2px solid black;
  width: 70%;
  margin-left: 15%;
  margin-bottom: 10px;
  background-color: aliceblue;
  color: crimson;
  font-weight: bold;
  font-size: medium;
}

.info h3 {
  margin: 10px;
}
.connect {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 20%;
  border-radius: 100px;
  background-color: crimson;
  color: aliceblue;
  font-weight: bolder;
  font-size: x-large;
  text-shadow: 2px;
  margin-bottom: 2px;
}

#connectButton {
  margin-left: 40%;
}

#showNFTs {
  margin-left: 20%;
  margin-right: 20%;
}
.buttons {
  display: flex;
  flex-direction: row;
}

.connect:hover {
  background-color: aliceblue;
  color: crimson;
  cursor: pointer;
}
.connect:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}
.button {
  display: flex;
  justify-content: center;
  width: 100px;
  border-radius: 10px;
  margin-top: 10px;
  background-color: aliceblue;
  color: crimson;
  font-weight: bold;
  font-size: medium;
}
.button:disabled {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  pointer-events: none;
}
.button:hover {
  background-color: crimson;
  color: aliceblue;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container div {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* justify-content: flex-start; */
  width: 40%;
  padding: 10px;
}

.container div input {
  margin-bottom: 10px;
  width: 50%;
  border-radius: 10px;
  background-color: whitesmoke;
  font-weight: bolder;
  font-size: large;
}

.card-img-top {
  width: 20%;
}
